<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Viaxes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <!--[routerLink]="['/origin']" -->
    <ion-searchbar placeholder="Onde queres que te recollamos?" id="origin_input"></ion-searchbar>
    <ion-searchbar placeholder="Onde queres ir?" id="destination_input"></ion-searchbar>
    <ion-item>
      <ion-label>Cando queres saír?</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" value="2020-04-23T12:00Z" id="pickup_date_input"></ion-datetime>
    </ion-item>
    <ion-button (click)="sendPostRequest()" type="submit" color="danger" shape="round">Buscar viaxe</ion-button>
  </form>
</ion-content>