<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Viaxes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-searchbar placeholder="Onde queres que te recollamos?" id="origin_input"></ion-searchbar>
    <ion-searchbar placeholder="Onde queres ir?" id="destination_input"></ion-searchbar>
    <ion-item>
      <ion-label>Cando queres ir?</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" value="2020-06-21T12:00Z"></ion-datetime>
    </ion-item>
    <ion-button (click)="sendRequest()" type="submit" color="danger" shape="round">Buscar viaxe</ion-button>
  </form>
</ion-content>
