h3 {
    display:inline;
}

.info {
    padding-top:25%;
	padding-bottom:2%;
    text-align: center;
    margin: auto;
    width: 40%;
}

.suggestion {
	padding-bottom:5%;
    text-align: center;
    margin: auto;
    width: 80%;
}