<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis viaxes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      Viaxes gardados
    </ion-list-header>

    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <ion-icon slot="start" name="location-outline"></ion-icon>
          [Origen]
          <br>
          <ion-icon slot="start" name="golf-outline"></ion-icon>
          [Destino]
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

</ion-content>