h3 {
    display:inline;
}

.warning {
	padding-top:25%;
    text-align: center;
}

.info {
	padding-bottom:2%;
    text-align: center;
    margin: auto;
    width: 60%;
}

.suggestion {
	padding-bottom:3%;
    text-align: center;
    margin: auto;
    width: 60%;
}
.subscribeButton {
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
}