<ion-content fullscreen class="ion-padding" scroll-y="false">

  <ion-slides pager="true"> <!--CAMBIAR TEXTO-->

    <ion-slide>
      <div class="slide">
        <img src="../assets/img/logo.png"/>
        <h2>Benvido!</h2>
        <p>Co servizo baixo demanda de <b>Übre</b> podes viaxar cómodamente por toda Galicia en tan só un par de clics.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../assets/img/logo.png"/>
      <h2>Cómo funciona?</h2>
      <p>Indícanos onde queres comezar a túa viaxe e cara a onde queres ir. O sistema buscará por tí as mellores rutas disponíbeis.</p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/img/logo.png"/>
      <h2>E despois?</h2>
      <p>Selecciona a ruta que máis che conveña e reserva a túa viaxe. Fácil, non sí?</p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/img/logo.png"/>
      <h2>Listo para comezar?</h2>
      <ion-button [routerLink]="['/app']" fill="clear">A viaxar! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>